@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Charlie's Tiger Blog will sell your information to whomever we darn well please. So there</p>
<img src="~/img/happybig.png" alt="three little pigs"/>