@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>


<p>This is a study project, not a commerical webiste. So there is no data collection and privacy concern. Thanks for visting my project. Any comments please email to jackdog.com.</p>
