/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&family=Pridi:wght@600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* restore some styling */
ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1rem;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1rem;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ol, ul ol {
  list-style-type: lower-latin;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/* MY CUSTOM STYLING */
/* SASS VARS */
/* SASS MIXINS */
/* Styles for Mobile first */
:root{
	--dark-color:#042037;
	--medium-dark-color: #074600;
	--medium-color:#496D89;
	--medium-light-color:#92D18B;
	--light-color:#ECF8A5;
}
html {
	font-size: 100%;
	background: var(--dark-color) url(../img/my-pattern.png);
  }

body {
  background:var(--medium-dark-color) url(../img/my-pattern.png);
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
  font-size: calc(10px + 1vw);
  line-height: calc(1.3rem + 0.5vw);
  font-family: Verdana, Geneva, sans-serif;
}
/* all a link style */
a:link{
  color: var(--medium-light-color);
}
a:visited{
  color: var(--medium-color);
}
a:hover{
  opacity: 0.8;
}
a:focus{
  color: #999;
}
a:active{
  color: #f66;
}
/* here is the nav style */
.nav__list a{
  color:#ccc;
  display: block;
  padding: 1rem;
  text-decoration: none;
}
.nav__list a:hover{
  background-color: var(--medium-color);
}
.nav__list{
  list-style-type: none;
  background-color: var(--dark-color);
}
.nav__toggle ~ ul li{
  display: none;
}
.nav__toggle:checked ~ ul li{
  display: block;
}
.nav__toggle{
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.nav__toggle-label{
  padding: 15px;
  background-color: var(--medium-dark-color);
  display: block;
}
header {
  background-color: #074600;
  color: #ECF8A5;
  padding: 1rem;
  padding: 0;
}
.site-title{
  margin: 0 0 0.25rem 0;
  padding: 1rem 1rem 0.5rem 1rem;
  color: var(--light-color);
  font-weight: 700;
  font-size: 5vmin;
  font-family: "Grandstander", cursive;
}
.site-description{
  margin: 0 0 0.25rem 0;
  padding: 0 1rem 0.5rem 1rem;
  font-weight: bolder;
  font-family: "Grandstander", cursive;
}
.page-title{
  font-size: 5vmin;
  font-weight: 400;
  margin: 1rem 0;
  padding-bottom: 1rem;
  color: var(--dark-color);
}
p{
  margin: 0.25rem 0 0 0;
}
main {
  padding: 1rem;
}

.post {
  /* border: #718EA4 solid 1px; */
  padding: 1rem;
  margin: 0 0 1rem 0;
  background-color: #fff;
}

.post .entry-header {
  background-color: #496D89;
  padding: 0.5rem 1rem;
}

.post .entry-header .entry-title {
  font-family: "Pridi", serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.post .entry-header .entry-date, .post .entry-header .entry-author {
  font-size: 0.75rem;
  color: #92D18B;
}

.post .entry-header a {
  color: #ECF8A5;
  /* text-decoration: none; */
  -webkit-transition: opacity .4s ease .01s;
  transition: opacity .4s ease .01s;
}

.post .entry-content {
  margin: 1rem;
  font-size: 1rem;
}

.post .entry-meta {
  background-color: #496D89;
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  color: #92D18B;
}

.post .entry-meta a {
  color: #ECF8A5;
  text-decoration: none;
}

.widget-area {
  /* border: #718EA4 solid 1px; */
  padding: 1rem;
  font-size: 0.75rem;
}
.widget-area .widget-title{
font-weight: bold;
}
.widget-area #search-2 {
  background-color: #074600;
  margin: auto 0;
  padding: 1rem;
  color: #ECF8A5;
 
  margin-bottom: 1rem;
}
.widget-area #recent-posts-2 {
  background-color: #074600;
  margin: auto 0;
  padding: 1rem;
  color: #ECF8A5;
}
/* disclaimer banner */
#custom_html-3{
  background-color: rgba(0, 0, 0, 0.712);
  color: #fff;
  margin-bottom: 1rem;
}


footer {
  background-color: #074600;
  margin: auto 0;
  padding: 1rem;
  color: #ECF8A5;
  font-size: 0.75rem;
}


@media screen and (min-width: 721px) {
  html {
    font-size: 110%;
  }
  header {
    padding: auto 0;
  }
  /* new style */
  .nav__toggle-label{
    display: none;
  }
 .nav__toggle ~ ul li{
   display: block;
 }
 .nav__list{
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
 }
 .nav__list ul li{
   position: absolute;
 }
 
}
/* old style nav */
@media screen and (min-width: 960px) {
  .body-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  main{
    flex:5;
  }
  aside {
    background-color: #718EA4;
    flex:2;
  }
}
/*# sourceMappingURL=style.css.map */